    <footer>
      {# <section class="footer-one">
        <div class="footer">

          <h4>Formas de pagamento</h4>
          <div class="paymentForms">
            <img src="/img/common/pay/visa.png" title="até 12x" alt="Visa">
            <img src="/img/common/pay/mastercard.png" title="até 12x" alt="MasterCard">
            <img src="/img/common/pay/hipercard.png" title="até 12x" alt="Hipercard">
            <img src="/img/common/pay/american-express.png" title="até 12x" alt="American Express">
            <img src="/img/common/pay/Diners-CLub.png" title="até 12x" alt="Diners Club">
            <img src="/img/common/pay/elo2.png" title="até 12x" alt="Elo">
            <img src="/img/common/pay/mercado.png" alt="Mercado Pago">
          </div>

          <div class="utils">
            <div class="searchedPlus">
              <h4>Mais buscados</h4>

              <div class="phones">
                <a href="#">Galaxy S10 Plus</a>
                <a href="#">Galaxy S10</a>
                <a href="#">Iphone X</a>
                <a href="#">Iphone 7 Plus</a>
                <a href="#">Galaxy A70</a>
                <a href="#">Moto G8 Power</a>
                <a href="#">One Vison</a>
                <a href="#">Moto Z3 Play</a>
              </div>
            </div>

            <div class="links">
              <h4>Launchstore</h4>

              <div class="phones">
                <a href="/about">Sobre a Launchstore</a>
                <a href="/exchangesAndReturn">Trocas e devoluções</a>
                <a href="/privacy">Política de privacidade</a>
              </div>
            </div>

            <div class="social">
              <div class="signUp-email">
                <h4>Cadastre-se</h4>
                <p>Receba novidades em seu e-mail!</p>

                <form action="" method="POST">
                  <input type="text" name="newsletter"/>
                  <button class="newsletter">Cadastrar</button>
                </form>
              </div>

              <div class="networks">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </section> #}

      <div class="footer">
        <p class="copy">Copyright&copy;2020 - Todos os direitos reservados, Launchstore</p>
      </div>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/8342c46746.js" crossorigin="anonymous"></script>
  </body>
</html>