<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}
      <title>Página inicial</title>
    {% endblock head %}

    <!-- FONTS, STYLES, ICON -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/"/>
  </head>
  <body>
    {% include 'utils/messages.njk' %}

    {% block header %}
      <header class="public-area">
        <div class="top">
          <div class="container-logo">
            <div class="logo">
              <a href="/" class="logo">Launchstore</a>
            </div>
          </div>

          {% block filter %}
            <form action="/products/search" method="GET">
              <input type="text" name="filter" placeholder="Pesquisar pela marca ou modelo"/>
              <button class="button" type="submit">Pesquisar</button>
            </form>
          {% endblock filter %}

          <div class="cart-menu-container">
            <a href="/shopping-cart" class="cart-icon">
              <i class="material-icons">shopping_cart</i>
              
              {% if session.cart and session.cart.total.quantity > 0 %}
                <span id="cart-status-info">{{ session.cart.total.quantity }}</span>
              {% endif %}
            </a>
          </div>

          {% if session.user %}
            <div class="account-container">
              <div class="account-menu">
                <div class="avatar">
                  {% if session.user.photo.path %}
                    <img src="{{ session.user.photo.path }}" alt="{{ session.user.name }}"/>
                  {% else %}
                    <i class="material-icons">account_circle</i>
                  {% endif %}
                </div>
                <a>Olá, {{ session.user.name }}</a>
              </div>
              <ul class="account-submenu">
                <li>
                  <a href="/users/profile/{{ session.user.userID }}">Minha conta</a>
                </li>
                <li>
                  <a href="/orders/purchases">Meus pedidos</a>
                </li>
                <li>
                  <a href="/users/{{ session.user.userID }}/ads">Meus anúncios</a>
                </li>
                <li>
                  <a href="/orders/sales">Minhas vendas</a>
                </li>
                <li class="logout">
                  <form action="/session/logout" method="POST">
                    <button class="btn-logout" type="submit">Sair</button>
                  </form>
                </li>
              </ul>
            </div>
          {% else %}
            <div class="account-container">
              <a href="/session/login" class="account-menu">
                <i class="material-icons">account_circle</i>
                <span>Minha conta</span>
              </a>
            </div>
          {% endif %}
        </div>

        <nav>
          <div class="menu">
            <div class="sub">
              <span>iPhone</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="/products/search?filter=iPhone X">iPhone X</a>
                  <a href="/products/search?filter=iPhone 8">iPhone 8</a>
                  <a href="/products/search?filter=iPhone 7 plus">iPhone 7 plus</a>
                  <a href="/products/search?filter=iPhone 7">iPhone 7</a>
                  <a href="/products/search?filter=iPhone 6S plus">iPhone 6S plus</a>
                  <a href="/products/search?filter=iPhone 6">iPhone 6</a>
                </div>
              </div>
            </div>
            <div class="sub">
              <span>Samsung</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="/products/search?filter=Galaxy S10+">Galaxy S10+</a>
                  <a href="/products/search?filter=Galaxy Note 10+">Galaxy Note 10+</a>
                  <a href="/products/search?filter=Galaxy A51">Galaxy A51</a>
                  <a href="/products/search?filter=Galaxy A31">Galaxy A31</a>
                  <a href="/products/search?filter=Galaxy A70">Galaxy A70</a>
                  <a href="/products/search?filter=Galaxy J7">Galaxy J7</a>
                </div>
              </div>
            </div>
            <div class="sub">
              <span>Motorola</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="/products/search?filter=One Zoom">One Zoom</a>
                  <a href="/products/search?filter=One Vision">One Vision</a>
                  <a href="/products/search?filter=Moto Z2 Force">Moto Z2 Force</a>
                  <a href="/products/search?filter=Moto G8">Moto G8</a>
                  <a href="/products/search?filter=Moto G7">Moto G7</a>
                  <a href="/products/search?filter=Moto E5">Moto E5</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    {% endblock header %}