{% extends '../layout.njk' %}

{% import "../utils/product-list.njk" as section %}

{% block content %}
  <div class="search-products">
    <aside>
      <div class="header">
        <h2>Galaxy A70</h2>
        <p>12 encontrados</p>
      </div>

      <nav class="categories">
        <h4>Marcas</h4>

        <ul>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">iPhone</a></li>
          <li><a href="#">Motorola</a></li>
        </ul>
      </nav>
    </aside>

    <section id="products">
      {{ section.products('', '', products) }}
    </section>
  </div>
{% endblock content %}