{% extends '../layout.njk' %}

{% import "../utils/product-list.njk" as section %}

{% block content %}
  <div class="search-products">
    <aside>
      <div class="header">
        {% if search.term %}
          <h2>{{ search.term }}</h2>
        {% elseif brands.length == 1 %}
          <h2>{{ brands[0].name }}</h2>
        {% else %}
          <h2>Todos</h2>
        {% endif %}
        <p>{{ search.total }} {{ 'resultados' if search.total > 1 else 'resultado' }}</p>
      </div>

      <nav class="brand">
        <h4>Marcas</h4>

        <ul>
          {% for brand in brands %}
            {% if search.term %}
              <li>
                <a href="/products/search?filter={{search.term}}&brand={{brand.name}}">{{ brand.name }}</a>
              </li>
            {% else %}
              <li>
                <a href="/products/search?brand={{brand.name}}">{{ brand.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </aside>

    <section id="products">
      {{ section.products('', '', products) }}
    </section>
  </div>
{% endblock content %}