{% extends '../layout.njk' %}

{% block head %}
    <title>Sobre a Launchstore</title>
{% endblock head %}

{% block content %}
    <div class="banner-about"></div>

    <div class="aboutUs">
        <h1>Sobre Nós</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dicta tempore placeat possimus soluta aliquid, optio corrupti odit. Vel animi earum, deserunt possimus tempore aliquam itaque debitis modi consequuntur adipisci!
            <br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus laborum hic ad. Amet praesentium, omnis nam iste laudantium, perferendis ullam quae aspernatur labore temporibus, aut quisquam ipsam odit laborum totam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis maxime molestias sapiente tempore debitis, voluptatem, est cumque qui magni placeat accusamus perferendis necessitatibus nulla aliquam reprehenderit vitae laboriosam perspiciatis et! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, temporibus, ullam iste tempora cumque ut perferendis enim quos nemo dolores fugiat dolore ea suscipit cum vel, perspiciatis vitae voluptatum laboriosam!
        </p>
    </div>

    <div class="ourTeam">
        <h1>Nosso time</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dicta tempore placeat possimus soluta aliquid, optio corrupti odit. Vel animi earum, deserunt possimus tempore aliquam itaque debitis modi consequuntur adipisci!
            <br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus laborum hic ad. Amet praesentium, omnis nam iste laudantium, perferendis ullam quae aspernatur labore temporibus, aut quisquam ipsam odit laborum totam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis maxime molestias sapiente tempore debitis, voluptatem, est cumque qui magni placeat accusamus perferendis necessitatibus nulla aliquam reprehenderit vitae laboriosam perspiciatis et! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, temporibus, ullam iste tempora cumque ut perferendis enim quos nemo dolores fugiat dolore ea suscipit cum vel, perspiciatis vitae voluptatum laboriosam!
        </p>
    </div>

    <div class="dots">
        <div class="dot">
            <div class="img" style="background-image: url('/img/people/people.jpg');"></div>
            <span>Jessica Fernandes</span>
            <span>COO - Chief Operating Officer</span>
        </div>
        <div class="dot">
            <div class="img" style="background-image: url('/img/people/people1.jpg');"></div>
            <span>Fernando Gonçaves</span>
            <span>CFO - Chief Financial Officer</span>
        </div>
        <div class="dot">
            <div class="img" style="background-image: url('/img/people/people2.jpg');"></div>
            <span>Paula Maria</span>
            <span>CMO - Chief Marketing Officer</span>
        </div>
        <div class="dot">
            <div class="img" style="background-image: url('/img/people/people3.jpg');"></div>
            <span>Humberto da Costa</span>
            <span>CEO - Chief Executive Officer</span>
        </div>
        <div class="dot">
            <div class="img" style="background-image: url('/img/people/people4.png');"></div>
            <span>Diego Oliveira</span>
            <span>CTO - Chief Technology Officer</span>
        </div>
    </div>
{% endblock content %}