{% extends '../layout.njk' %}

{% block head %}
    <title>Trocas e devoluções</title>
{% endblock head %}

{% block content %}
    <div class="exchange">
        <h1>Trocas e devoluções</h1>

        <div class="content">
            <h2>Como faço para solicitar uma troca?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>

            <ul>
                <li>
                    <h4>Passo 1</h4>

                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 2</h4>

                    <span>consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 3</h4>

                    <span>ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 4</h4>

                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
            </ul>
        </div>
        <div class="content">
            <h2>Como faço para solicitar uma devolução?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>

            <ul>
                <li>
                    <h4>Passo 1</h4>

                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 2</h4>

                    <span>consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 3</h4>

                    <span>ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
                <li>
                    <h4>Passo 4</h4>

                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                </li>
            </ul>
        </div>
        <div class="content">
            <h2>Quais as opções de reembolso?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>
        </div>
    </div>
{% endblock content %}