{% extends '../layout.njk' %}

{% block content %}
    <div class="topic">
        <div class="box">
            <i class="material-icons">sentiment_satisfied_alt</i>
            <span>Homologado pela Anatel</span>
        </div>
        <div class="box">
            <i class="material-icons">payment</i>
            <span>Até 12x sem juros</span>
        </div>
        <div class="box">
            <i class="material-icons">forward_30</i>
            <span>Garantia de 30 dias</span>
        </div>
        <div class="box">
            <i class="material-icons">my_location</i>
            <span>Frete para todo BR</span>
        </div>
    </div>

    <div class="title">
        <h2>Lançamentos</h2>
    </div>

    <div class="cardsAll">
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Celulares em Oferta</h2>
    </div>

    <div class="cardsAll">
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://imagens.trocafone.com/images/phones/dt-galaxy-a70-preto-front.png" alt=""/>
            <div class="content">
                <p>Samsung</p>
                <h2>Galaxy A70 4GB 128GB 32MP - Azul</h2>
                <div class="price">
                    <span>A partir de</span>
                    <span>R$1046,50</span>

                    <p>10x de R$104,65 sem juros</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-inf">
        <div class="logo-inf">
            <div class="container-logo">
                <div class="logo">
                    <a href="/" class="logo">Launchstore</a>
                </div>
            </div>
        </div>

        <div class="inf">
            <h3>Celulares seminovos com garantia</h3>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro maxime reiciendis eligendi quaerat libero facilis modi debitis quidem optio nihil culpa exercitationem necessitatibus perferendis laborum illo, tenetur veniam nulla obcaecati? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br><br>Quaerat illo molestiae quos eius voluptatum numquam velit, ex cupiditate ea dignissimos magni, dolore sit ratione odit voluptates eum nam doloremque laborum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, pariatur? Tempora omnis possimus dolor rerum vel vitae id, ex, rem iure, quisquam architecto minus pariatur recusandae enim nostrum facilis voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam adipisci, facilis praesentium perspiciatis voluptates exercitationem nihil accusamus sequi aspernatur nostrum nulla, eius a deleniti? Esse suscipit vel at cupiditate? Sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum cum perferendis eius neque reprehenderit, distinctio aliquam suscipit harum totam at reiciendis eaque non porro et sint eligendi corrupti itaque.
            </p>
        </div>
    </div>
{% endblock content %}