{% extends '../layout.njk' %}

{% block head %}
    <title>Trocas e devoluções</title>
{% endblock head %}

{% block content %}
    <div class="exchange">
        <h1>Nossas políticas</h1>

        <div class="content">
            <h2>Direitos</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>
        </div>
        <div class="content">
            <h2>Deveres</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>
        </div>
        <div class="content">
            <h2>Pagamentos</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>
        </div>
        <div class="content">
            <h2>Reembolso</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In non tenetur laboriosam nisi eaque architecto. Natus sequi, quasi necessitatibus minus deserunt impedit, ea aliquam ipsa porro harum repellat unde voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum sed quae exercitationem consequatur neque vel provident dignissimos ex excepturi id quasi libero non doloribus reiciendis fugit ad optio nisi!
            </p>
        </div>
    </div>
{% endblock content %}