#purchase-container,
#sales-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
    color: $link-color;
    font-size: 24px;
    font-weight: 500;
  }

  .button {
    width: 100%;
    padding: 14px 0;
    display: block;

    text-align: center;
    font-size: 14px;
    color: $link-color;
    background-color: transparent;
    border: 2px solid $secondary-color;

    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.1s;

    &:hover {
      color: $font-color;
      background-color: $secondary-color;
    }
  }

  #purchases-empty,
  #sales-empty {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #5e5e5e;
    box-sizing: border-box;

    p {
      margin: 14px 0;
      font-size: 18px;
      font-weight: 500;
      color: $font-dark-color;
    }

    .button {
      @extend .button;
      width: 300px;
      margin: 16px auto;
    }
  }

  .purchase {
    padding: 20px 16px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    color: $font-dark-color;
    border-bottom: 1px solid $border-color;
    transition: background 0.1s;
    cursor: pointer;

    &:hover {
      background: rgba($color: $dark-bold-color, $alpha: 0.4);
    }

    .order-product_container {
      display: flex;
      align-items: center;

      img {
        width: 70px;
        height: 70px;
        margin-right: 8px;

        object-fit: contain;
      }

      .order-product_description {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        strong {
          margin-bottom: 4px;
          color: $font-dark-color;
          font-size: 18px;
          font-weight: 500;
        }

        p {
          margin-top: 10px;
        }
      }
    }

    .purchase-price {
      font-weight: 500;
      color: $link-color;
    }

    .purchase-price + span {
      padding: 4px 10px;
      
      font-size: 0.7em;
      text-transform: uppercase;
      color: #fff;
      border-radius: 20px;

      &.open {
        background-color:#0066ff;
      }
      &.sold {
        background-color:#26a50c;
      }
      &.canceled {
        background-color:#ff0000;
      }
    }

  }
}