{% extends '../layout.njk' %}

{% block content %}
<section id="form-user">
    <h2>Cadastre-se</h2>

    <form method="POST" action="/users" enctype="multipart/form-data">

      {% include './fields.njk' %}

    </form>
</section>
{% endblock content %}