  <div class="photoArea">
    {% if user.path %}
        <div id="photos-preview">
          <div id="{{ user.id }}" class="photo" onclick="PhotosUpload.removePhoto(event)">
            <img src="{{ user.path }}" alt="{{ user.name }}"/>
            <i class="material-icons">close</i>
          </div>
        </div>
    {% else %}
      <div id="photos-preview"></div>
    {% endif %}

    <div id="photos-upload">
      <input 
        type="file" 
        name="photo"
        accept="image/*"
        title=""
        onchange="PhotosUpload.main(event, 1)"
      />
      <span class="choose">Escolher foto</span>
    </div>
  </div>

  <div class="fields">
    <fieldset>
      <legend>Dados pessoais</legend>

      <div class="field">
        <label for="name">Nome</label>
        <input 
          type="text" 
          name="name" 
          id="name"
          {% if user.name %}
              value="{{ user.name }}"
          {% endif %}
        />
      </div>
      
      <div class="field">
        <label for="email">E-mail</label>
        <input 
          type="email" 
          name="email" 
          id="email"
          {% if user.email %}
              value="{{ user.email }}"
          {% endif %}
        />
      </div>
      
      <div class="field">
        <label for="pass">Senha</label>
        <input 
          type="password" 
          name="password" 
          id="pass"
          {% if user.password %}
              value="{{ user.password }}"
          {% endif %}
        />
      </div>
      
      {% if not user.id %}
        <div class="field">
          <label for="pass">Confirme sua senha</label>
          <input 
            type="password" 
            name="passwordRepeat" 
            id="passRepeat"
          />
        </div>
      {% endif %}
      
      <div class="field">
        <label for="doc">CPF / CNPJ</label>
        <input 
          type="text" 
          name="cpf_cnpj" 
          id="doc"
          {% if user.cpf_cnpj %}
              value="{{ user.cpf_cnpj }}"
          {% endif %}
        />
      </div>
    </fieldset>

    <fieldset>
      <legend>Endereço</legend>

      <div class="field">
        <label for="cep">CEP</label>
        <input 
          type="text" 
          name="cep" 
          id="cep"
          {% if user.cep %}
              value="{{ user.cep }}"
          {% endif %}
          onblur="Address.get()"
        />
      </div>

      <div class="field">
        <label for="street">Logradouro</label>
        <input 
          type="text" 
          name="street" 
          id="street"
          {% if user.street %}
              value="{{ user.street }}"
          {% endif %}
        />
      </div>

      <div class="field">
        <label for="complement">Complemento</label>
        <input 
          type="text" 
          name="complement" 
          id="complement"
          {% if user.complement %}
              value="{{ user.complement }}"
          {% endif %}
        />
      </div>

      <div class="field">
        <label for="district">Bairro</label>
        <input 
          type="text" 
          name="district" 
          id="district"
          {% if user.district %}
              value="{{ user.district }}"
          {% endif %}
        />
      </div>

      <div class="field">
        <label for="locale">Município</label>
        <input 
          type="text" 
          name="locale" 
          id="locale"
          {% if user.locale %}
              value="{{ user.locale }}"
          {% endif %}
        />
      </div>
      
      <div class="field">
        <label for="uf">UF</label>
        <input 
          type="text" 
          name="uf" 
          id="uf"
          {% if user.uf %}
              value="{{ user.uf }}"
          {% endif %}
        />
      </div>
    </fieldset>

    <button type="submit" class="button">Salvar dados</button>
  </div>
