{% extends '../layout.njk' %}

{% block content %}
  <section id="form-user">
    <h2>Edição de dados</h2>

    <form method="POST" action="/users?_method=PUT" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ user.id }}">
      {% include './fields.njk' %}
    </form>

    <form method="POST" action="/users?_method=DELETE">
      <div class="fields">
        <input type="hidden" name="id" value="{{ user.id }}">

        <button id="btn-delete" type="submit">Deletar usuário</button>
      </div>
    </form>
  </section>
{% endblock content %}