{% extends './parts/header.njk' %}

{% block content %}
<section id="form-register">
    <h2>Cadastre-se</h2>

    <form method="POST" action="/users/register">

      {% include './fields.njk' %}

      <div class="footer-register">
        <a href="/users/login">Já tem cadastro?</a>
      </div>

    </form>
</section>
{% endblock content %}