<div class="field">
  <div>
    <label for="image">Link da imagem</label>
  </div>
  <div id="images">
    {% if product.avatar_url %}
      {% for image in product.avatar_url %}
        <div class="image">
          <input 
            type="url" 
            name="avatar_url[]" 
            id="image" 
            value="{{ image }}"
          />
        </div>
      {% endfor %}
    {% else %}
      <div class="image">
        <input 
          type="url" 
          name="avatar_url[]" 
          id="image"
        />
      </div>
    {% endif %}
  </div>
  <span class="add-field" onclick="AddFields.newField()">Adicionar nova imagem</span>
</div>

<div class="field">
  <div>
    <label for="brand">Marca</label>
  </div>
  <div>
    <select name="brand">
      <option value="">Selecione...</option>
      <option value="Samsung"
        {% if product.brand == "Samsung" %}
          selected
        {% endif %}
      >Samsung</option>
      <option value="iPhone"
        {% if product.brand == "iPhone" %}
          selected
        {% endif %}
      >iPhone</option>
      <option value="Motorola"
        {% if product.brand == "Motorola" %}
          selected
        {% endif %}
      >Motorola</option>
    </select>
  </div>
</div>

<div class="field">
  <div>
    <label for="model">Modelo</label>
  </div>
  <div>
    <input 
      type="text" 
      name="model" 
      id="model" 
      value="{{ product.model }}"
    />
  </div>
</div>

<div class="field">
  <div>
    <label for="price">Preço</label>
  </div>
  <div>
    <input 
      type="text" 
      name="price" 
      id="price"
      value="{{ product.price }}"
      onkeydown="Mask.apply(this, 'formatBRL')"
    />
  </div>
</div>

<div class="field">
  <div>
    <label for="color">Cor</label>
  </div>
  <div>
    <input 
      type="text" 
      name="color" 
      id="color"
      value="{{ product.color }}"
    />
  </div>
</div>

<div class="field">
  <div>
    <label for="int">Armazenamento interno</label>
  </div>
  <div>
    <input 
      type="text" 
      name="storage" 
      id="int"
      value="{{ product.storage }}"
    />
  </div>
</div>

<div class="field">
  <div>
    <label for="status">Condição do aparelho</label>
  </div>
  <div>
    <select name="condition">
      <option value="">Selecione...</option>
      <option value="good"
        {% if product.condition == "good" %}
          selected
        {% endif %}
      >Bom</option>
      <option value="very_good"
        {% if product.condition == "very_good" %}
          selected
        {% endif %}
      >Muito bom</option>
      <option value="excelent"
        {% if product.condition == "excelent" %}
          selected
        {% endif %}
      >Excelente</option>
    </select>
  </div>
</div>

<div class="field">
  <div>
    <label for="desc">Descrição</label>
  </div>
  <div>
    <textarea name="description" id="desc" maxlength="2000">{{ product.description }}</textarea>
  </div>
</div>