<div class="field">
  <div>
    <label for="image">Link da imagem</label>
  </div>
  <div>
    <input type="url" name="avatar_url" id="image"/>
  </div>
</div>

<div class="field">
  <div>
    <label for="brand">Marca</label>
  </div>
  <div>
    <select name="brand">
      <option value="">Selecione...</option>
      <option value="samsung">Samsung</option>
      <option value="iphone">iPhone</option>
      <option value="motorola">Motorola</option>
    </select>
  </div>
</div>

<div class="field">
  <div>
    <label for="model">Modelo</label>
  </div>
  <div>
    <input type="text" name="model" id="model"/>
  </div>
</div>

<div class="field">
  <div>
    <label for="price">Preço</label>
  </div>
  <div>
    <input type="text" name="price" id="price" onkeydown="Mask.apply(this, 'formatBRL')"/>
  </div>
</div>

<div class="field">
  <div>
    <label for="color">Cor</label>
  </div>
  <div>
    <input type="text" name="color" id="color"/>
  </div>
</div>

<div class="field">
  <div>
    <label for="int">Armazenamento interno</label>
  </div>
  <div>
    <input type="text" name="storage" id="int"/>
  </div>
</div>

<div class="field">
  <div>
    <label for="status">Condição do aparelho</label>
  </div>
  <div>
    <select name="status">
      <option value="">Selecione...</option>
      <option value="good">Bom</option>
      <option value="very_good">Muito bom</option>
      <option value="excelent">Excelente</option>
    </select>
  </div>
</div>

<div class="field">
  <div>
    <label for="desc">Descrição</label>
  </div>
  <div>
    <textarea name="description" id="desc" maxlength="2000"></textarea>
  </div>
</div>

<button type="submit">Vender</button>