#cart-container {
  margin-top: 40px;

  .button {
    width: 100%;
    padding: 14px 0;
    display: block;

    text-align: center;
    font-size: 14px;
    color: $link-color;
    background-color: transparent;
    border: 2px solid $secondary-color;

    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.1s;

    &:hover {
      color: $font-color;
      background-color: $secondary-color;
    }
  }

  #cart-empty {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #5e5e5e;
    box-sizing: border-box;

    p {
      margin: 14px 0;
      font-size: 18px;
      font-weight: 500;
      color: $font-dark-color;
    }

    .button {
      @extend .button;
      width: 300px;
      margin: 16px auto;
    }
  }

  #cart {
    // position: relative;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 16px;

    h2 {
      font-size: 20px;
      font-weight: 500;
      color: $link-color;
    }

    .items-list {
      margin-top: 40px;

      .header {
        margin-top: 20px;
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 100px 100px 30px;
        gap: 16px;

        font-weight: 700;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        font-size: 14px;
        color: $font-dark-color;

        p:nth-child(2) {
          text-align: right;
        }

        p:nth-child(3) {
          text-align: center;
        }
      }

      .item {
        padding: 16px 8px;
        display: grid;
        grid-template-columns: 1fr 100px 100px 30px;
        align-items: center;
        gap: 12px;

        border-bottom: 1px solid $border-color;
        box-sizing: border-box;
        transition: background 0.1s;

        &:hover {
          background: rgba($color: #000000, $alpha: 0.2);
        }

        & > a {
          display: flex;
          align-items: center;

          img {
            width: 50px;
            height: 50px;
            margin-right: 16px;

            object-fit: contain;

            box-shadow: 0px 2px 4px -2px rgba($color: #fff, $alpha: 0.4);
            border-radius: 4px;
          }

          span {
            margin: initial;
          }
        }

        .title,
        .price,
        .quantity {
          color: $font-dark-color;
        }

        .add,
        .remove,
        .delete {
          color: $font-dark-color;
          background: transparent;
          cursor: pointer;
        }

        .delete {
          color: #ff0000;
          background: transparent;
        }

        .price {
          justify-self: right;
        }

        .quantity-control {
          display: flex;
          align-items: center;
          justify-self: center;

          .quantity {
            margin: 0 8px;
            line-height: 20px;
          }
        }
      }
    }

    .viewer-payment {
      width: 300px;
      margin-top: 16px;
      padding: 20px;
      // position: fixed;
      right: 0;

      align-self: flex-end;

      text-align: right;
      border-radius: 4px;
      background-color: $dark-bold-color;
      box-sizing: border-box;

      .total {
        p {
          margin-bottom: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          color: $font-dark-color;
        }

        span {
          color: $font-color;
          font-size: 24px;
          font-weight: 500;
        }
      }

      .actions {
        margin-top: 16px;

        .button {
          @extend .button;

          & + form {
            margin-top: 4px;
          }
        }
      }
    }
  }
}

// cart menu
.cart-menu-container {
  padding: 8px;
  position: absolute;
  right: 200px;

  background-color: $dark-color;
  border-radius: 50%;
  box-sizing: border-box;

  & .cart-icon:hover {
    color: $link-color;
  }

  .cart-icon {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $font-dark-color;

    i {
      font-size: 30px;
    }

    #cart-status-info {
      min-width: 20px;
      min-height: 20px;
      padding: 2px;

      position: absolute;
      right: -10px;
      bottom: -10px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 12px;
      font-weight: 500;

      color: $dark-color;
      background-color: #ff0000;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}
