{% extends '../layout.njk' %}

{% block content %}
  <section id="purchase-container">
    <h2>Meus pedidos</h2>

    {% for order in orders %}
      <div class="purchase">
        <div class="order-product_container">
          <img src="{{ order.productPath }}" alt="{{ order.productName }}"/>

          <div class="order-product_description">
            <strong>{{ order.productName }}</strong>
            <span class="purchase-price">{{ order.formattedPrice }}</span>

            <p>{{ order.statusCurrent }} em {{ order.updatedAt }}</p>
          </div>
        </div>

        <span>Qtd. {{ order.quantity }}</span>
        <span class="purchase-price">{{ order.formattedTotalPrice }}</span>
        <span class="{{ order.status }}">{{ order.statusCurrent }}</span>
      </div>
    {% endfor %}
  </section>
{% endblock content %}