{% extends '../layout.njk' %}

{% block content %}
  <section id="sales-container">
    <h2>Minhas vendas</h2>

    {% if sales.length <= 0 %}

      <section id="sales-empty">
        <p>Você não realizou vendas até o momento :(</p>
        <a class="button" href="/products/create">Anuncie agora</a>
      </section>

    {% else %}

      {% for sale in sales %}
        <div class="purchase">
          <div class="order-product_container">
            <img src="{{ sale.productPath }}" alt="{{ sale.productName }}"/>

            <div class="order-product_description">
              <strong>{{ sale.productName }}</strong>
              <span class="purchase-price">{{ sale.formattedPrice }}</span>

              <p>{{ sale.statusCurrent }} em {{ sale.updatedAt }}</p>
            </div>
          </div>

          <span>Qtd. {{ sale.quantity }}</span>
          <span class="purchase-price">{{ sale.formattedTotalPrice }}</span>
          <span class="{{ sale.status }}">{{ sale.statusCurrent }}</span>

          <div class="dropdown-container action">
            <i class="material-icons">more_vert</i>

            <ul class="submenu-dropdown">
              <li><a href="/orders/{{ sale.id }}">Detalhes do pedido</a></li>
              <li><a href="/products/update/{{ sale.product_id }}">Editar pedido</a></li>

              {% if sale.status == "open" %}
                <li class="action-form">
                  <form method="POST" action="/orders/sold/{{ sale.id }}?_method=PUT">
                    <button type="submit">Marcar vendido</button>
                  </form>
                </li>
                <li class="action-form">
                  <form method="POST" action="/orders/canceled/{{ sale.id }}?_method=PUT">
                    <button type="submit">Marcar Cancelado</button>
                  </form>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endfor %}

    {% endif %}
  </section>
{% endblock content %}