.container-show {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 10px;

	.button-buy {
		width: 100%;
		height: 50px;
		margin-top: 16px;
		display: block;
		font-size: 16px;
		font-weight: 500;
		color: $font-color;
		background-color: $secondary-color;
		cursor: pointer;
		@include transition(0.1s);

		&:hover {
			color: $dark-bold-color;
			background-color: $primary-color;
		}
	}

	.view {
		width: 300px;
		display: grid;
		grid-template-rows: 300px 1fr;

		.big-view {
			width: 300px;
			text-align: center;

			img {
				height: 100%;
				cursor: zoom-in;
			}
		}

		.small-view {
			margin-top: 20px;
			display: grid;
			grid-template-columns: repeat(3, 80px);
			justify-self: center;

			.small {
				width: 80px;
				height: 80px;
				padding: 10px 0;
				text-align: center;

				box-sizing: border-box;
				border: 1px solid $border-color;

				cursor: pointer;
				@include transition(0.2s);
				opacity: 0.4;

				&.active {
					background-color: $dark-bold-color;
					opacity: 1;
				}

				img {
					height: 100%;
					object-fit: contain;
				}

				&:hover {
					background-color: $dark-bold-color;
					opacity: 1;
				}
			}
		}

		.lightbox-modal {
			width: 100%;
			height: 100%;
			position: fixed;
			top: -100%;
			left: 0;
			background: rgba($color: #000000, $alpha: 0.7);

			opacity: 0;
			visibility: hidden;
			@include transition(0.5s);

			overflow: hidden;
			z-index: 100;

			.lightbox-content {
				@include size-container;
				height: 80%;
				max-height: 800px;
				margin: auto;
				padding: 40px 0;

				display: flex;
				justify-content: center;
				align-items: center;

				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				background-color: $font-color;
				box-sizing: border-box;

				img {
					height: 100%;
					object-fit: contain;
				}

				a.lightbox-close {
					width: 50px;
					height: 50px;

					display: flex;
					align-items: center;
					justify-content: center;

					position: absolute;
					top: 0;
					right: 0;

					background-color: $font-color;
					border-radius: 50%;
					cursor: pointer;
				}
			}

			&.active-modal {
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.content {
		h1 {
			color: $font-color;
			font-size: 30px;
			font-weight: 500;
		}

		> p {
			margin-top: 20px;
			color: $font-dark-color;
			font-size: 16px;
		}

		.container-checked {
			margin-top: 20px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			// gap: 5px;

			.box-checked {
				width: 180px;
				padding: 16px;
				border: 1px solid $border-color;
				@include border-radius(4px);
				box-sizing: border-box;
				@include transition(0.1s);
				cursor: pointer;

				span {
					color: $font-dark-color;
				}

				span:nth-child(odd) {
					width: 20px;
					height: 20px;
					margin-right: 2px;
					display: inline-block;
					position: relative;
					border: 2px solid $font-dark-color;
					@include border-radius(50%);
					// @include transition(0.2s);
					cursor: pointer;

					input[type="checkbox"] {
						opacity: 0;
						cursor: pointer;
					}

					.before {
						// content: "";
						width: 14px;
						height: 14px;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						margin-top: 3px;
						margin-left: 3px;
						background-color: $font-dark-color;
						opacity: 0;
						@include border-radius(50%);
					}
				}

				&:hover {
					border: 1px solid $primary-color;

					span:nth-child(odd) {
						border: 2px solid $primary-color;

						.before {
							background-color: $primary-color;
							opacity: 1;
						}
					}
				}

				&.hover {
					border: 1px solid $primary-color;

					span:nth-child(odd) {
						border: 2px solid $primary-color;

						.before {
							background-color: $primary-color;
							opacity: 1;
						}
					}
				}

				p {
					margin-top: 10px;
					font-size: 14px;
					color: $font-dark-color;
				}
			}
		}
	}

	.aside {
		color: $font-color;
		font-size: 14px;

		.pay {
			padding: 16px;
			background-color: $dark-bold-color;
			border: 1px solid $border-color;
			@include border-radius(4px);

			strong {
				margin-bottom: 4px;
				font-size: 36px;
				font-weight: 700px;
				display: block;
			}

			span {
				display: inline-block;
				color: $font-dark-color;
			}

			p {
				padding: 16px 0;
				border-bottom: 1px solid $border-color;

				span {
					color: $link-color;
				}
			}

			.icon {
				padding: 16px 0;
				display: grid;
				grid-template-columns: 20px 1fr;
				gap: 16px;
				border-bottom: 1px solid $border-color;

				i {
					font-size: 20px;
				}

				.icon-content {
					span {
						display: block;
					}

					a {
						margin-top: 4px;
						display: block;
						color: $primary-color;
					}
				}
			}

			.buy {
				@extend .button-buy;
			}
		}

		.delivery {
			margin-top: 20px;
			padding: 16px;
			background-color: $dark-bold-color;
			border: 1px solid $border-color;
			@include border-radius(4px);

			h4 {
				font-size: 18px;
			}

			.icon {
				padding: 16px 0;
				display: grid;
				grid-template-columns: 20px 1fr;
				gap: 16px;
				border-bottom: 1px solid $border-color;

				i {
					font-size: 20px;
				}

				.icon-content {
					span {
						display: block;
						font-weight: 700;
					}

					p {
						margin-top: 4px;
						color: $font-dark-color;
					}

					a {
						margin-top: 4px;
						display: block;
						color: $primary-color;
					}
				}
			}

			.search-cep {
				@extend .button-buy;
				color: $link-color;
				background-color: transparent;
				border: 1px solid $link-color;

				&:hover {
					color: $font-color;
					background-color: $secondary-color;
					border: 1px solid $secondary-color;
				}
			}
		}
	}
}

.anchor {
	width: 100%;
	height: 90px;
	margin-top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid $border-color;
	@include border-radius(4px);

	a {
		padding: 12px 20px;
		display: flex;
		color: $link-color;
		border: 1px solid $link-color;
		@include border-radius(4px);
		@include transition(0.1s);
		cursor: pointer;

		+ a {
			margin-left: 16px;
		}

		&:hover {
			color: #fff;
			background-color: $link-color;
		}

		i {
			margin-right: 8px;
			font-size: 20px;
		}
	}
}

.why {
	width: 100%;
	margin-top: 20px;
	padding: 80px;

	text-align: center;
	border: 1px solid $border-color;
	box-sizing: border-box;

	h1 {
		font-size: 24px;
		font-weight: normal;
		color: $secondary-color;
	}

	p {
		line-height: 22px;
		margin-top: 20px;
		font-size: 16px;
		color: $font-dark-color;
	}

	.items {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;

			span {
				margin-top: 16px;
				font-size: 16px;
				color: $link-color;
			}
		}
	}
}

#statusCel {
	width: 100%;
	margin-top: 20px;
	padding: 80px 40px;

	text-align: center;
	border: 1px solid $border-color;
	box-sizing: border-box;

	h1 {
		font-size: 24px;
		font-weight: normal;
		color: $secondary-color;

		span {
			text-transform: uppercase;
		}
	}

	p {
		line-height: 22px;
		margin-top: 20px;
		font-size: 16px;
		color: $font-dark-color;

		obj {
			margin-top: 14px;
			display: block;
		}
	}

	.appearance {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;

		.side {
			width: 370px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2 {
				margin-top: 20px;
				font-size: 20px;
				font-weight: 500;
				color: $link-color;
			}

			span {
				margin-top: 12px;
				font-size: 16px;
				color: $font-dark-color;
			}
		}
	}
}

#presentation {
	width: 100%;
	margin-top: 20px;
	padding: 80px 40px;

	text-align: center;
	border: 1px solid $border-color;
	box-sizing: border-box;

	h1 {
		font-size: 24px;
		font-weight: normal;
		color: $secondary-color;
	}

	p {
		line-height: 22px;
		margin-top: 20px;
		font-size: 16px;
		color: $font-dark-color;
	}
}

#character {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	.item {
		padding: 16px;
		text-align: center;
		border: 1px solid $border-color;
		@include border-radius(4px);
		box-sizing: border-box;
		color: $font-dark-color;

		span.material-icons,
		i.fas,
		i.fab {
			height: 50px;
			font-size: 40px;
			color: $link-color;
		}

		h4 {
			margin-bottom: 10px;
			color: $secondary-color;
		}

		p {
			line-height: 18px;
			font-size: 14px;
		}
	}
}
