.exchange {
    margin-top: 50px;

    h1 {
        margin-bottom: 30px;
        font-size: 30px;
        color: $font-color;
    }

    .content {
        margin-bottom: 30px;
        h2 {
            margin-bottom: 10px;
            font-size: 24px;
            color: $secondary-color;
        }

        p {
            line-height: 20px;
            color: $font-dark-color;
            font-size: 16px;
        }

        ul {
            width: 300px;
            margin-top: 20px;
            padding: 0 20px;
            list-style: none;
            background-color: $dark-bold-color;
            border: 1px solid $font-dark-color;
            @include border-radius(4px);
            box-sizing: border-box;

            li {
                margin: 20px 0;

                h4 {
                    font-size: 16px;
                    color: $primary-color;
                }

                span {
                    font-size: 14px;
                    color: $font-dark-color;
                }
            }
        }
    }
}