.account-container {
  max-width: 200px;
  height: 40px;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  text-align: center;

  background-color: $dark-color;
  border-radius: 20px;

  .account-menu {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .avatar {
      width: 30px;
      height: 30px;
      margin-right: 8px;

      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    i {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      font-size: 30px;
      color: $font-color;
    }

    a, span {
      font-size: 14px;
      color: $font-color;
      transition: ease-in-out 0.1s;
    }

    &:hover i,
    &:hover a,
    &:hover span {
      color: $link-color;
    }
  }

  .submenu-dropdown {
    @extend .submenu-dropdown;
  }

  &:hover .submenu-dropdown {
    top: 42px;
    visibility: visible;
    opacity: 1;
  }
}
