.banner-about {
    width: 100%;
    height: 200px;
    margin-bottom: 80px;
    background-image: url("../img/others/equipe2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs,
.ourTeam {
    margin-bottom: 80px;
    text-align: left;
    h1 {
        margin-bottom: 20px;
        font-size: 25px;
        letter-spacing: 1px;
        color: $secondary-color;
    }

    p {
        line-height: 28px;
        font-size: 16px;
        color: $font-dark-color;
    }
}

.dots {
    display: flex;
    justify-content: space-between;

    .dot {
        margin-top: 30px;
        margin-bottom: 30px;

        .img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }

        span {
            display: block;
            text-align: center;

            &:nth-child(even) {
                font-size: 16px;
                color: $primary-color;
            }

            &:nth-child(odd) {
                margin-top: 5px;
                font-size: 14px;
                color: $font-dark-color;
            }
        }
    }
}
