<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}
      <title>Página inicial</title>
    {% endblock head %}

    <!-- FONTS, STYLES, ICON -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/"/>
  </head>
  <body>
    {% include 'utils/messages.njk' %}

    {% block header %}
      <header class="public-area">
        <div class="top">
          <div class="container-logo">
            <div class="logo">
              <a href="/" class="logo">Launchstore</a>
            </div>
          </div>

          {% block filter %}
            <form action="/products/search" method="GET">
              <input type="text" name="filter" placeholder="Pesquisar pelo modelo"/>
              <button class="button" type="submit">Pesquisar</button>
            </form>
          {% endblock filter %}

          {% if session.user %}
            <div class="account-container">
              <div class="account-menu">
                <div class="avatar">
                  <img src="{{ session.user.photo }}" alt="{{ session.user.name }}"/>
                </div>
                <a>Olá, {{ session.user.name }}</a>
              </div>
              <ul class="account-submenu">
                <li><a href="/users/show/{{ session.user.userID }}">Minha conta</a></li>
                <li><a href="#">Meus pedidos</a></li>
                <li><a href="#">Minhas vendas</a></li>
                <li class="logout">
                  <form action="/users/logout" method="POST">
                    <button class="btn-logout" type="submit">Sair</button>
                  </form>
                </li>
              </ul>
            </div>
          {% else %}
            <div class="account-container">
              <a href="/users/login" class="account-menu">
                <i class="material-icons">account_circle</i>
                <span>Minha conta</span>
              </a>
            </div>
          {% endif %}
        </div>

        <nav>
          <div class="menu">
            <div class="sub">
              <span>iPhone</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="">iPhone X</a>
                  <a href="">iPhone 8</a>
                  <a href="">iPhone 7 plus</a>
                  <a href="">iPhone 7</a>
                  <a href="">iPhone 6S plus</a>
                  <a href="">iPhone 6</a>
                </div>
              </div>
            </div>
            <div class="sub">
              <span>Samsung</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="">Galaxy S10+</a>
                  <a href="">Galaxy Note 10+</a>
                  <a href="">Galaxy A51</a>
                  <a href="">Galaxy A31</a>
                  <a href="">Galaxy A70</a>
                  <a href="">Galaxy J7</a>
                </div>
              </div>
            </div>
            <div class="sub">
              <span>Motorola</span>
              <i class="fas fa-caret-down"></i>

              <div class="subPhone-container">
                <div class="subPhone">
                  <a href="#">One Zoom</a>
                  <a href="#">One Vision</a>
                  <a href="#">Moto Z2 Force</a>
                  <a href="#">Moto G8</a>
                  <a href="#">Moto G7</a>
                  <a href="#">Moto E5</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    {% endblock header %}

    <section class="container-global">
      {% block content %}{% endblock content %}
    </section>

    <footer>
      <section class="footer-one">
        <div class="footer">

          <h4>Formas de pagamento</h4>
          <div class="paymentForms">
            <img src="/img/common/pay/visa.png" title="até 12x" alt="Visa">
            <img src="/img/common/pay/mastercard.png" title="até 12x" alt="MasterCard">
            <img src="/img/common/pay/hipercard.png" title="até 12x" alt="Hipercard">
            <img src="/img/common/pay/american-express.png" title="até 12x" alt="American Express">
            <img src="/img/common/pay/Diners-CLub.png" title="até 12x" alt="Diners Club">
            <img src="/img/common/pay/elo2.png" title="até 12x" alt="Elo">
            <img src="/img/common/pay/mercado.png" alt="Mercado Pago">
          </div>

          <div class="utils">
            <div class="searchedPlus">
              <h4>Mais buscados</h4>

              <div class="phones">
                <a href="#">Galaxy S10 Plus</a>
                <a href="#">Galaxy S10</a>
                <a href="#">Iphone X</a>
                <a href="#">Iphone 7 Plus</a>
                <a href="#">Galaxy A70</a>
                <a href="#">Moto G8 Power</a>
                <a href="#">One Vison</a>
                <a href="#">Moto Z3 Play</a>
              </div>
            </div>

            <div class="links">
              <h4>Launchstore</h4>

              <div class="phones">
                <a href="/about">Sobre a Launchstore</a>
                <a href="#">Dúvidas frequentes</a>
                <a href="/exchangesAndReturn">Trocas e devoluções</a>
                <a href="/privacy">Política de privacidade</a>
                <a href="#">Como comprar na Launchstore</a>
                <a href="#">Como vender na Launchstore</a>
              </div>
            </div>

            <div class="social">
              <div class="signUp-email">
                <h4>Cadastre-se</h4>
                <p>Receba novidades em seu e-mail!</p>

                <form action="" method="POST">
                  <input type="text" name="newsletter"/>
                  <button class="newsletter">Cadastrar</button>
                </form>
              </div>

              <div class="networks">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="footer">
        <p class="copy">Copyright&copy;2020 - Todos os direitos reservados, Launchstore</p>
      </div>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/8342c46746.js" crossorigin="anonymous"></script>
  </body>
</html>