<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block head %}
            <title>Página inicial</title>
        {% endblock head %}

        <!-- FONTS, STYLES, ICON -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/img/logo/"/>
    </head>
    <body>
        {% block header %}
            <header class="public-area">
                <div class="top">
                    <div class="container-logo">
                        <div class="logo">
                            <a href="/" class="logo">Launchstore</a>
                        </div>
                    </div>

                    {% block filter %}
                        <form action="/" method="GET">
                            <input type="text" name="filter" placeholder="Pesquisar por nome/marca"/>
                            <button class="button" type="submit">Pesquisar</button>
                        </form>
                    {% endblock filter %}

                    <div class="auth">
                        <a href="#">Login</a>
                        <span>|</span>
                        <a href="#">Cadastro</a>
                    </div>
                </div>
            </header>
        {% endblock header %}

        <section class="container-global">
            {% block content %}{% endblock content %}
        </section>

        <footer>
            <div class="footer">
                <p>Copyright&copy;2020 - Todos os direitos reservados, Launchstore</p>
            </div>
        </footer>

        <script src="/js/script.js"></script>
    </body>
</html>